@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color: black;
}

.main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #e0e0e0;
  padding: 80px 19px;
  font-family: "Poppins", sans-serif;
}
.title{
  text-shadow: 3px 2px 7px rgba(255, 253, 253, 0.904) !important;
}
.Card {
  
  border-radius: 20px;
  max-width: 25rem;
  max-height: 32rem;

  color: var(--color);
 

  background: #e0e0e0 !important;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff !important;
  border-radius: 20px !important;
  overflow: hidden;
  padding: 1  rem;
  display: flex;
}

.Card-content {
  background: var(--bgcolor);
  color: rgb(68, 67, 67);
  text-transform: capitalize;
  color: var(--color);
  overflow-y: scroll;
}

.Card-content::-webkit-scrollbar {  
  display: none;
}

h1 {
  font-weight: 500;
  color: inherit;
  text-transform: uppercase;
}

.list {
  font-size: 1.3rem;
}

.list-items {
  display: flex;
  margin: 25px 0;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  color: inherit;
  border-radius: 15px;

 

background: #e0e0e0;
box-shadow: inset 8px 8px 16px #cac9c9,
            inset -8px -8px 16px #f7f3f3;
}

.update__modal {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(2px);
}


